<p id="notice"><%= notice %></p>
<header class="card-header-pills">
  <h1>
    <span class="text-center font-weight-bold efeito-titulo" id="titulo-home" style="font-size: 1.5em">
      <% @enterprises.each do |empresa| %>
        <%= empresa.name %>
        <% end  %>
    </span>
  </h1>
</header>

<div class="row">
  <% @dishes.each do |prato| %>
    <div class="col-4" style="  margin-bottom: 30px;">
      <div class="card">
        <div class="card-header text-center font-weight-bold">
          <%= prato.description %>
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col-4">
              Valor
            </div>
            <div class="col-8">
              Tempo de preparo
            </div>
            <div class="col-4">
              R<%= number_to_currency prato.price %>
            </div>
            <div class="col-8">
              <%= formatar_hora prato.timePreparation %>
            </div>
          </div>
        </div>
        <div id="btn-mod<%= prato.id %>" class="card-footer btn-outline-secondary text-center mais-info" onclick="modalShow('#mod<%= prato.id %>')">
          <span>Mais informações</span>
        </div>
      </div>
    </div>

<!--    modal-->

    <div class="modal" id="mod<%= prato.id %>" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h4 class="modal-title"><%= prato.description %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalHide('#mod<%= prato.id %>');">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-black-50">Ingredientes do prato:</p>
              <% prato.ingredients.order(:description).each do |ingrediente|  %>
                <p class="btn btn-dark disabled">
                  <%= ingrediente.description %>
                </p>
              <% end %>
          </div>
          <div class="modal-footer bg-light">
            <div class="row text-center">
              <div class="col-4">
                Valor
              </div>
              <div class="col-8">
                Tempo de preparo
              </div>
              <div class="col-4">
                R<%= number_to_currency prato.price %>
              </div>
              <div class="col-8">
                <%= formatar_hora prato.timePreparation %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<footer class="card-footer text-center text-primary font-weight-bold">
  <% @enterprises.each do |empresa| %>
    <span>
      <%= empresa.name %>
       - © Direitos Reservados
    </span><br>
    <p>
      <small>
        <%= empresa.address %> -
      </small>
      <span>
        <%= empresa.telephone %>
      </span>
      <small>
         - <%= empresa.email %>
      </small>
    </p>
  <% end %>
</footer>
<footer class="modal-footer">
  <%= link_to "Administrar conteúdo", administrators_path, :class => "btn btn-sm btn-light btnAdm"%>
</footer>
<script>
    $("#titulo-home").fitText();
</script>