<p id="notice"><%= notice %></p>

<header class="card-header-pills">
  <h1>
    <span class="text-center font-weight-bold efeito-titulo" id="titulo-home" style="font-size: 1.5em">
      <% @enterprises.each do |empresa| %>
        <%= empresa.name %>
        <% end  %>
    </span>
  </h1>
</header>

<div class="row">
  <% @dishes.each do |prato| %>
    <div class="col-3" style="margin-bottom: 30px;">
      <div class="card">
        <div class="card-header text-center font-weight-bold">
          <%= prato.description %>
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col-4">
              Valor
            </div>
            <div class="col-8">
              Tempo de preparo
            </div>
            <div class="col-4">
              R<%= number_to_currency prato.price %>
            </div>
            <div class="col-8">
              <%= formatar_hora prato.timePreparation %>
            </div>
          </div>
        </div>
        <div class="card-footer btn-outline-secondary text-center">
          <span>Mais informações</span>
        </div>
      </div>
    </div>

  <% end %>
</div>


<footer class="card-footer text-center text-primary font-weight-bold">
  <% @enterprises.each do |empresa| %>
    <span>
      <%= empresa.name %>
       - © Direitos Reservados
    </span><br>
    <p>
      <small>
        <%= empresa.address %> -
      </small>
      <span>
        <%= empresa.telephone %>
      </span>
      <small>
         - <%= empresa.email %>
      </small>
    </p>
  <% end %>
</footer>
<script>
    $("#titulo-home").fitText();
</script>