<% Time.zone = "America/Sao_Paulo" %>
<p id="notice"><%= notice %></p>

<p>
<!--  <strong>Descrição:</strong>-->
  <h1><%= @dish.description %></h1>
<hr>
</p>
<div class="row">
  <p class="col-3 card">
    <strong class="text-info card-header-pills">Preço:</strong>
  <span class="font-italic card-footer text-center text-black-50" style="font-size: 2.5em; border-radius: 0 0 15px 15px">

    R<%= number_to_currency(@dish.price) %>
  </span>
  </p>

  <p class="col-4 card">
    <strong class="card-header-pills text-info">Tempo de preparo:</strong>
    <span  class="font-italic card-footer text-center text-black-50" style="font-size: 2.5em; border-radius: 0 0 15px 15px">
      <%= formatar_hora @dish.timePreparation %>
    </span>

  </p>

  <p class="card col-5">
    <strong class="card-header-pills text-info">Ingredientes:</strong><br>
    <span class="card-footer btn-group" style="border-radius: 0 0 15px 15px">
      <% @dish.ingredients.order(:description).each do |ingredient|%>

        <span class="btn btn-secondary disabled ">
          <%=ingredient.description%>
        </span>

      <%end%>
      </span>
  </p>

</div>

<footer class="card-footer">

<%= link_to 'Editar', edit_dish_path(@dish) , :class => 'btn btn-outline-warning' %> |
<%= link_to 'Voltar', dishes_path , :class => 'btn btn-outline-info' %>
</footer>